@charset "utf-8";
#container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
.pagetitlte {
    position: relative;
    display: inline-block;
    top: 100px;
    margin-left: 45%;
    font-size: 1.6vw;
}
#sidebar_Area {
    position: absolute;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    z-index: 100;
    background-color: rgb(158, 158, 158);
  }
#memberArea{
    position: relative;
    top: 200px;
    width: 60%;
    margin-left: 20%;
    height: 600px;
    left: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}
#memberArea::-webkit-scrollbar{
    width: 8px;
}
#memberArea::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: rgb(91, 170, 84); /* 스크롤바의 색상 */
    
    border-radius: 10px;
}
#memberArea::-webkit-scrollbar-track {
    background: rgba(91, 170, 84, 0.3);  /*스크롤바 뒷 배경 색상*/
}
.formSign{
    position: absolute;
    top: 4%;
    right: 2%;
    text-align: right;
}
.require{
    display: inline-block;
    width: 10px;
    height: 12px;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.require::before{
    content: "√";
    color: #f48002;
    position: relative;
    top: -10px;
    left: -10px;
}
#joinForm p{
    position: relative;
    overflow: hidden;
    padding: 1% 0;
}
#joinForm label:first-child, .mailing em:first-child{
    float: left;
    width: 12%;
    padding: 0 2%;
    margin-right: 10px;
    font-weight: bold;
}
.work_no2, .work_no3{
    margin-left: 1%;
}
label{
    position: relative;
    top: 5px;
}
input, select{
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 1%;
    
}
input{
    text-align: center;
}

input[type="checkbox"], input[type="radio"]{
    position: relative;
    height: 15px;
    width: 15px;
    top: 7px;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}
input[type="checkbox"]:checked, input[type="radio"]:checked{
    background: rgb(91, 170, 84);
    border: none;
  }
.mailing span{
    margin-right: 2%;
}
.mailing label, .mailing input{
    position: relative;
    top: 0;
}
textarea{
    border: none;
    resize: none;
}
.greenbox{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(91, 170, 84);
}
fieldset div>h2{
    padding: 2% 0 0 2%;
    font-size: 1.5em;
    margin-bottom: 2%;
}
#user_form{
    background-color: rgb(241, 239, 239);
    margin-bottom: 3%;
}
#pet_form{
    background-color: rgb(241, 239, 239);
}
#hospital_form{
    background-color: rgb(241, 239, 239);
}
.btnOk, .btnCancle{
    background: rgb(91, 170, 84);
    color: white;
    border: none;
    border-radius: 10px;
    position: relative;
}
.btnOk{
    font-size: 2.5em;
    padding: 0.5% 2%;
    top: 80px;
    left: 39%;
}
.btnCancle{
    font-size: 1.5em;
    padding: 0.2% 1%;
    top: 10px;
    left: 78%;
}
footer {
    position: absolute;
    background-color: rgb(217, 217, 217);
    top: 100%;
}