@charset "utf-8";
body {
  width: 100%;
  height: auto;
  /* background-color: pink; */
}

#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}
.pagetitlte {
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 47%;
  font-size: 1.6vw;
}
.pagetitlte span{
  color: #056cf2;
}
#sidebar_Area {
  position: absolute;
  writing-mode: vertical-lr;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #333;
}
.sidetitles{
  position: relative;
  top: 20px;
  left: -5px;
  font-size: 2vw;
  color: rgb(255, 255, 255);
}


/* tab_Area================================================================= */
/* #container_sub{
  position: relative;
  margin: 0 auto;
  text-align: center;
} */
#tab_Area {
  position: relative;
  margin: 0 auto;
  top: 200px;
  width: 50%;
  /* margin-right: 13%; */
  height: 700px;
  /* right: 0; */
  border: 4px solid #056cf2;
  border-radius: 10px 0 10px 10px;
  box-sizing: border-box;
}

.tab_nav {
  position: absolute;
  right: -5.3%;
  width: 5%;
  height: 100%;
  /* 나중에 높이값 auto */
  display: block;

}

.tab_Btns {
  position: relative;
  width: 100%;
  height: 100%;
}
.tBtn{
  position: relative;
  writing-mode: vertical-lr;
  text-align: center;
  border: 4px solid #056cf2;
  box-sizing: border-box;
  top: -4px;
  left: -3px;
  z-index: 10;
}
.tBtn a{
  position: relative;
  display: block;
  /* line-height: 300%; */
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
}
.tBtn1 {
  width: 100%;
  height: 15%;
  border-bottom: 0;
  background-color: #eee;
  border-radius: 0 10px 0 0;
}

.tBtn2 {
  width: 100%;
  height: 15%;
  border-left: 0;
  background-color: white;
  border-radius: 0 0 10px 0;
}

.tabcontents {
  position: relative;
  /* background-color: yellow; */
  width: 100%;
  height: 100%;
}

.tabBox{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* background-color: white; */
  margin: 0 auto;
  /* text-align: center; */
}

.topBox{
  position: relative;
  top: 50px;
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #338bff;
  border-left: 0;
  border-right: 0;
  overflow: hidden;
  text-align: center;
  /* 내부배경색 */
  background-color: #eee; 
}

.topBox li{
  position: relative;
  display: inline-block;
  margin: 0 5px;
  font-size: 1.2vw;
  line-height: 50px;
}

.dotBox{
  position: relative;
  position: relative;
  top: 100px;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 2px solid #338bff;
  border-left: 0;
  border-right: 0;
  overflow: hidden;
  /* text-align: center; */
  /* 내부배경색 */
  background-color: #eee; 
}
.dot_title{
  position: relative;
  font-size: 1vw;
  left: 45%;
  margin-bottom: 30px;
}
.dotBox dl{
  position: relative;
  width: 95%;
  border: 1px solid #aaa;
  border-left: 0;
  border-right: 0;
  margin: 0 auto;
  margin-top: 20px;
  height: 200px;
  /* margin: 10px 0; */
  background-color: white;
  overflow: hidden;
}
.dotBox dl>*{
  margin: 0;
  /* top: 10px; */
}
.dot_text{
  position: relative;
  display: inline-block;
  font-size: 0.8vw;
  left: 5%;
}
.dotBox dl dd{
  position: relative;
  top: -30px;
  left: 20%;
}
.dotBox dl dd input{
  width: 20%;
  border: 0;
  border-bottom: 2px solid #338bff;
  /* background-color: #cfe0ff; */
}
#tabBox02{
  display: none;
}
#searchBtn{
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 150px;
  z-index: 20;
  font-size: 1.1vw;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #666;
}
#searchBtn a{
  display: block;
  width: 100%;
}
/* ===========================================footer */

footer {
  position: relative;
  bottom: 0;
  margin-top: 20%;
  background-color: #999;
}
