@charset "utf-8";
* {
  font: bold 40px "GwangyangB";
  font-size: 15px;
  color: #282727;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#skip,
.skip,
legend {
  display: none;
}
@font-face {
  font-family: "Gwangyang";
  src: url("../font/Gwangyang2/Gwangyang\ Sunshine\ Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "GwangyangB";
  src: url("../font/Gwangyang2/Gwangyang\ Sunshine\ Bold.ttf")
    format("truetype");
}
body {
  width: 1920px;
  height: auto;
}

ul.topNav {
  position: absolute;
  right: 0px;
  width: 800px;
  font: 12px normal;
  margin-right: 5%;
  overflow: hidden;
}

.topNav li {
  position: relative;
  float: left;
  margin: 2% 0 1% 8%;
}

footer {
  position: relative;
  width: 100%;
  height: 260px;
  margin-top: auto;
  background-color: #fba16e;
  font-size: 10pt;
}
footer ul {
  position: relative;
  display: flex;
  font-size: 10pt;
  bottom: 0;
  top: 81%;
  margin-left: 13%;
}
footer li {
  margin-right: 100px;
}
.table {
  display: table;
  table-layout: fixed;
}
address,
.custom,
.footBtn {
  display: table-cell;
}
address {
  position: absolute;
  right: 10%;
}
address p {
  font-weight: 100;
  line-height: 2em;
}
footer .custom,
.footBtn {
  position: absolute;
  right: 5.7%;
  top: 47%;
}
footer .custom a {
  display: block;
}
.footBtn {
  top: 82%;
  right: 6.5%;
}
.footBtn a {
  color: #f2efe9;
  margin-right: 90px;
}
