@charset "utf-8";
body {
  width: 100%;
  height: auto;
}

#container_sub {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.pagetitlte {
  position: absolute;
  display: inline-block;
  top: 100px;
  margin-left: 55%;
}
#sidebar_Area {
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  z-index: 100;
  box-sizing: border-box;
  background-color: #5baa54;
}

h2 {
  position: absolute;
  top: 8%;
  font-size: 24px;
  margin-left: 53%;
}

/* left_Area================================================================= */

#left_Area {
  position: relative;
  top: 200px;
  width: 14%;
  height: 700px;
  margin: 0 8% 0 8%;
  padding: 1% 0;
}

.profileBox {
  position: relative;
  width: 100%;
  height: 30%;
}

.proimgBox {
  position: relative;
  width: 41%;
  height: 50%;

  margin: 0 auto;
  border-radius: 100%;
}

.proImg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.speech_bubble {
  position: relative;
  width: 95%;
  height: 30%;
  margin: 0 auto;
}

.bubbleImg {
  width: 100%;
}

.speech_bubble p {
  position: absolute;
  top: 40%;
  margin-left: 20%;
}

.leftCategory {
  position: relative;
  width: 100%;
  height: 70%;
  padding: 10%;
}
.firstMenu {
  position: relative;
  margin-bottom: 5%;
}

.secondMenu {
  position: relative;
  margin-bottom: 2%;
}

.firstMenu > a {
  color: green;
  font-size: 18px;
}

/* <!-- ============================구분선  */

#verticalLine {
  position: absolute;
  height: 700px;
  top: 200px;
  left: 24.5%;
  width: 1px;
  background-color: #f4f4f4;
  z-index: 999;
}
/* tab_Area================================================================= */

#tab_Area {
  position: absolute;
  top: 200px;
  width: 60%;
  margin-right: 13%;
  height: 700px;
  right: 0;
  border: 5px solid #5baa54;
  box-sizing: border-box;
}

.tab_nav {
  position: absolute;
  right: -5.3%;
  width: 5%;
  height: 100%;
  top: -0.7%;
  /* 나중에 높이값 auto */
  display: block;
}

.tab_Btns {
  position: relative;
  width: 100%;
  height: 100%;
}

.tBtn1 {
  width: 100%;
  height: 15%;
}

.tBtn2 {
  width: 100%;
  height: 15%;
}

.tBtn a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 20% 0;
}

.tBtn span {
  display: block;
  width: 14px;
  margin: 0 auto;
}

.pointT {
  color: aliceblue;
}

.tabcontents {
  position: relative;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3%;
}

#tabBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.myPetInfoTitle {
  position: relative;
  width: 100%;
  top: 3%;
  height: 100%;
  z-index: 999;
}
.myPetInfoTitle P {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 1% 5%;
  margin-bottom: 2%;
}
.inputBck {
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;
  background-color: #f4f4f4;
}

.infoTitle {
  position: absolute;
  left: 8%;
}

.answer {
  position: absolute;
  left: 24%;
  border-radius: 10px;
}

.genderTitle {
  position: absolute;
  left: 24%;
}

.gt1 {
  position: absolute;
  left: 26%;
}

.g_C1 {
  position: absolute;
  top: 30%;
  left: 24%;
}

.gt2 {
  position: absolute;
  left: 32%;
}

.g_C2 {
  position: absolute;
  top: 30%;
  left: 30%;
}
.selectPet {
  position: absolute;
  left: 24%;
  width: 8%;
  text-align: center;
}

.selectBT {
  position: absolute;
  left: 24%;
  width: 8%;
  text-align: center;
}

.petRaceAn {
  position: absolute;
  top: 17%;
  left: 34%;
}

.noticeText {
  position: absolute;
  left: 55%;
  color: #5baa54;
  font-size: 0.8em;
}

.writeNote {
  position: absolute;
  left: 24%;
  width: 30%;
  height: 150%;
}

.btnOk {
  position: absolute;
  width: 8%;
  height: 6%;
  right: 3%;
  bottom: 5%;
  color: #ffff;
  border-radius: 10px;
  background-color: rgb(8, 194, 54);
}

/* ===========================================footer */

footer {
  position: relative;
  bottom: 0;
  margin-top: 20%;
  background-color: #7db778;
}
